{% extends 'base.html' %}
{% load bootstrap5 %}
{% block body %}
    <a href="{% url 'book-list' %}">All books</a><br>
    <hr>
    <p><b>title:</b> {{ book.title }}</p>
            <p><b>authors:</b> {{ book.authors.all|join:", " }}</p>
            <p><b>publisher:</b> {{ book.publisher.name }}</p>
            <p><b>publication_date:</b> {{ book.publication_date }}</p>
    <br>
    <form role="form" method="post" style="max-width: 300px">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='OK' %}{% endbuttons %}
    </form>
{% endblock %}